// Import Vendor Files

@import '../css/vendor/foundation';



// General Styling

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.wrapper {
  overflow: hidden;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 75%;
  margin-bottom: 35px;
}

section.accordion {
  overflow: hidden;
  height: 33px;
  transition: all 2s ease;
  border: 1px solid #64B255;

  .thissection {
  height: 250px;
}
}

section header {
  background-color: #64B255;
  border-bottom: 1px solid #64B255;
  padding: 3px;
  color: white;
  font-size: 1em;
}

section header:hover {
  cursor: pointer;
  background-color: #64B255;
}

section p {
  color: grey;
  font-size: 0.75em;
}



// Nav Bar

.top-bar {
  // background-color: #DDDDDD;
  border-bottom: 1px black solid;
  margin-bottom: 35px;
}

.logo {
  text-align: center;
  margin: 10px auto;
  font-size: 36px;
  font-weight: bold;
}


// Main View

.container {
  img {
    margin: 5px;
  }
}

// Sign Up View

.signupForm {
  text-align: center;
  margin: 10px auto;
}

input[type="text"] {
    margin: 10px auto;
    border: 1px #CCC solid;
    text-align: center;
    border-radius: 5px;
}

input[type="password"] {
    margin: 10px auto;
    border: 1px #CCC solid;
    text-align: center;
    border-radius: 5px;
}

button {
  height: 50px;
  width: 397px;
  border-radius: 5px;
  background-color: #9A5BF4;
  color: #EEE;
  border: 1px #CCC solid;
}

// Scoreboard View

.score{

  form{
    display: inline-block;
    // text-align: center;
    width: 470px;
    height: 50px;
    margin-top: 1px;
    border-radius: 5px;

  }
  ul{
    list-style: none;
    // display: inline-block;
    background-color: beige;
  }
  li{
    margin-bottom: 5px;
    margin-left: 20px;
  }
}



