// Import Vendor Files

@import '../css/vendor/foundation';



// General Styling

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.wrapper {
  overflow: hidden;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 75%;
  margin-bottom: 35px;
}


// Nav Bar

#nav {
  height: 70px;
  background-color: black;
  margin-bottom: 30px;
}

.logo {
  display: inline-block;
  float:left;
  margin-left: 15px;
}

.link {
  float: left;
  display: inline-block;
  padding: 15px;
}

.logo a {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px #ddd solid;
}

.greeting {
  display: inline-block;
  float: right;
  margin: 25px 0px;
  padding: 0;
  font-size: 16px;
  font-style: italic;
  color: #ddd;
}

#greetName {
  display: inline-block;
  float: right;
  margin: 25px 0px 0px 3px;
  padding: 0;
  font-size: 16px;
  font-style: italic;
  color: #ddd;
}

.anonMsg {
  display: inline-block;
  float: right;
  color: #ddd;
  margin-right: 10px;
  margin-top: 30px;
  font-style: italic;
}

.score {
  display: inline-block;
  float: right;
  margin: 25px 8px 0px 30px;
  padding: 0;
  font-size: 16px;
  font-style: italic;
  color: #ddd;
}

#score {
  font-size: 24px;
  margin-top: 7px;
  display: inline-block;
}

.scoreBlock {
  display: inline-block;
  float: right;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #148DB8;
  vertical-align: middle;
}

#signOutBtn{
  float: right;
  display: inline-block;
  color: #ddd;
  margin: 35px 15px 0px 30px;
  font-size: 11px;
}

#signOutBtn:hover {
  border-bottom: 1px #ddd solid;
}

nav form {
  float: right;
}

.userNameLogin {
  float: right;
  display: inline-block;
}

.userNameLogin input[type="text"] {
  width: 150px;
  margin: 18px 10px;
}

.passwordLogin {
  float: right;
  display: inline-block;
}
.passwordLogin input[type="password"] {
  width: 150px;
  margin: 18px 10px;
}

.loginBtn {
  display: inline-block;
  float: right;
  width: 150px;
  border-radius: 5px;
  height: 37px;
  margin: 18px 10px;
  padding: 10px;
}


// Main View

.container {
  img {
    margin: 5px;
  }
}

#howToPlay {
  font-size: 40px;
  color: #148DB8;
  text-align: left;
}

.instructions {
  font-size: 16px;
  color: #148DB8;
  text-align: left;
}

.post {
  list-style-type: none;
  max-width: 32%;
  padding: 3px;
}

.post:hover {
  border: 1px black solid;
}

.posts {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.sortby {
  display: inline-block;
}

// Sign Up View

.signupForm {
  text-align: center;
  margin: 50px auto;
}

.signupForm h2 {
  margin-bottom: 20px;
}

input[type="text"] {
    margin: 10px auto;
    border: 1px #CCC solid;
    text-align: center;
    border-radius: 5px;
}

input[type="password"] {
    margin: 10px auto;
    border: 1px #CCC solid;
    text-align: center;
    border-radius: 5px;
}

#signup button {
  height: 50px;
  width: 397px;
  border-radius: 5px;
  background-color: #9A5BF4;
  color: #EEE;
  border: 1px #CCC solid;
}

// Scoreboard View

.score{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
  form{
    display: inline-block;
    width: 470px;
    height: 50px;
    margin-top: 1px;
    border-radius: 5px;

    }
  ul{
    list-style: none;
    background-color: beige;
  }
  li{
    margin-bottom: 5px;
  }
}



