<div class="row wrapper">
  <div class="row">
    <div class="small-12 small-centered columns rulesandupload">


      <div class="instructions">
        <header id="howToPlay"> Play visionQuestion</header>

      <div class="accordion thissection">
        <header id="howToPlay">Two Ways to Play:</header>


        <p class="instructions" id="para3">Post visionQuestion pictures and answers or guess answers to other players pictures!</p>
        <p class="instructions">Posting can be done using the visionQuestion mobile app or by entering an image URL and answer in the form below.</p>
      </div> {{!-- End howToPlay --}}

      <div class="addpost">
        <header id="addPost">Add your picture and answer here</header>

        <form id="addPost">
          <input type="text" placeholder="Photo URL" id="photoURL">
          <input type="text" placeholder="Answer" id="answer">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i></button>
        </form> {{!-- End addPhoto --}}
      </div>
    </div>
  </div>
</div>

<div class="sorting">
  <label>Sort by:
    <a href="#"><input type="radio" name="sortByOption" class="sortby" value="all" checked="checked">All</input></a>
    <a href="#playable"><input type="radio" name="sortByOption" class="sortby" value="playable">Playable</input></a>
    <a href="#unplayable"><input type="radio" name="sortByOption" class="sortby" value="unplayable">Unplayable</input></a>
    <a href="#allmyposts"><input type="radio" name="sortByOption" class="sortby" value="myPostsAll">My Posts - All</input></a>
    <a href="#mypostssolved"><input type="radio" name="sortByOption" class="sortby" value="myPostsSolved">My Posts - Solved</input></a>
    <a href="#mypostsnotsolved"><input type="radio" name="sortByOption" class="sortby" value="myPostsNot">My Posts - Not Solved</input></a>
  </label>
</div>

<div class="columns">

  <ul class="small-block-grid-3">
    {{#each post}}

    <li class="post" data-id="{{id}}">
        <a style="background-image: url( {{ post_info.image_url }} );"class="th thumb" href="#visionQuestion/{{id}}"></a>
        <p>Taken by: {{creator.user_name}}</p>
    </li>

    {{/each}}
  </ul>
</div>
