<div class="row wrapper">
  <div class="row">
    <div class="small-12 small-centered columns rulesandupload">

      <section class="accordion thissection">
        <header id="head3">Section Three</header>

        <p id="para3">How to play.</p>
      </section>

      <section class="accordion">
        <header id="head2">Section Two</header>

        <form id="addPhoto">
          <input type="text" placeholder="Photo URL" id="photoURL">
          <input type="text" placeholder="Photo Title" id="photoTitle">
          <input type="text" placeholder="Photo Description" id="photoDesc">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i></button>
        </form>
      </section>
    </div>
  </div>
</div>

<div class="dropdown">
  <label>Contact Category:
    <select id="contactCat">
      <option value="family">Family</option>
      <option value="friends">Friends</option>
      <option value="coworkers">Work Colleagues</option>
      <option value="business">Professional Contacts</option>
    </select> <!-- end contactCat -->
  </label>
</div>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
    <img src="http://placehold.it/290x290">
  </div>
</div>
