<nav>

  {{#if isLoggedIn}}

    <h1 class="logo"><a href="#">visionQuestion</a></h1>

    <h3 class="link playLink"><a href="#">Play!</a></h3>

    <h3 class="link signUpLink"><a href="#signup">Sign Up</a></h3>

    <h3 class="link scoreLink"><a href="#scoreboard">Leaderboard</a></h3>

    <span id="signOutBtn">Not you? Sign out here.</span>

    <span class="greeting">!</span>

    <span id="greetName"></span>

    <span class="greeting">Welcome, </span>



  {{else}}

    <h1 class="logo"><a href="#">   visionQuestion</a></h1>

    <h3 class="link playLink"><a href="#">Play!</a></h3>

    <h3 class="link signUpLink"><a href="#signup">Sign Up</a></h3>

    <h3 class="link scoreLink"><a href="#scoreboard">Leaderboard</a></h3>

    <form class="signIn">

      <button class="loginBtn" id="signIn" type="button">Sign In</button>

      <div class="passwordLogin">
        <input class="" type="password" id="pw" placeholder="Password">
      </div>

      <div class="userNameLogin">
        <input class="" type="text" id="user" placeholder="Username">
      </div>

    </form>

    <span class="anonMsg">Sign in to play:</span>

  {{/if}}

</nav>
