<nav>

  <h1 class="logo"><a href="#">visionQuestion</a></h1>

    <ul class="navList">

      <li class="">
        <span class="greeting">{{ greeting }}</span>
      </li>

          <button class="loginBtn" id="signIn" type="button">Sign In</button>

          <div class="passwordLogin">
            <input class="" type="password" id="pw" placeholder="Password">
          </div>

          <div class="userNameLogin">
            <input class="" type="text" id="user" placeholder="Username">
          </div>

    </ul>
  </section>
</nav>
