<nav>

  {{#if isLoggedIn}}

  <span id="signOutBtn">Not you? Sign out here.</span>

  <h1 class="logo"><a href="#">visionQuestion</a></h1>

  <span class="greeting">{{ greeting }}</span>

  {{else}}

  <h1 class="logo"><a href="#">   visionQuestion</a></h1>

  <form id="signIn">

    <button class="loginBtn" id="signIn" type="button">Sign In</button>

    <div class="passwordLogin">
      <input class="" type="password" id="pw" placeholder="Password">
    </div>

    <div class="userNameLogin">
      <input class="" type="text" id="user" placeholder="Username">
    </div>

  </form>

  <span class="anonMsg">Sign in to play:</span>

  {{/if}}

</nav>
