<div class="score">
<h2>visionQuestion Scoreboard</h2>

<div class="scoretitle">

  <h4>Top Ten Leaders</h4>

</div>
<form>
  <ul>
  {{#each user}}

    <li><span>User:{{user_name}}</span>  <span> Score: {{score}}</span></li>
    {{/each}}
  </ul>
</form>
    <h4>Thank you for playing</h4>
</div>

