<form id="signup">

  <div class="signupForm large-4 large-centered columns">

    <h2>Sign Up</h2>

    <input type="text" class="input" placeholder="First Name" id="firstName">

    <input type="text" class="input" placeholder="Last Name" id="lastName">

    <input type="text" class="input" placeholder="Username" id="userName">

    <input type="text" class="input" placeholder="Email" id="email">

    <input type="password" class="input" placeholder="Password" id="password">

    <input type="password" class="input" placeholder="Confirm Password" id="confirmPassword">

    <button>Sign Up!</button>

  </div>

</form>

<div id="successMsg"></div>
