
<h2>Sign Up</h2>

<form id="signup">
  <input type="text" class="input" placeholder="First Name" id="firstName">
  <input type="text" class="input" placeholder="Last Name" id="lastName">
  <input type="text" class="input" placeholder="Username" id="userName">
  <input type="text" class="input" placeholder="email" id="email">
  <input type="text" class="input" placeholder="Password" id="password">
  <input type="text" class="input" placeholder="Confirm Password" id="confirmPassword">
  <button>Sign Up!</button>
</form>
