<div class="singleview">

  <img src="{{post.post_info.image_url}}">
 <p>Taken by: {{post.creator.user_name}}</p>

{{!--   {{#if visited}}
    <p>This has been visited</p>
  {{else}}
    <p>This has NOT been visited</p>
  {{/if}} --}}
  <form>
    <input type="text" id="guessText" placeholder="What's your guess?">
    <button type="submit" id="guessBtn" name="action">Submit</button>
  </form>


  {{!-- <button id="hint" data-id="{{id}}">Hint</button> --}}

</div>
